<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Text Classification</title>
    <style>
        #text_message {
            width: 500px;
            height: 200px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function submit() {
            // 获取输入文本
            var text = $("#text_message").val();

            // 构建请求数据对象
            var requestData = {
                "text": text
            };

            // 发送POST请求
            $.ajax({
                type: 'POST',
                url: "/text_predict",
                contentType: "application/json",
                data: JSON.stringify(requestData),
                dataType: "json",
                success: function (data) {
                    var result = "<ul>";
                    // 显示结果
                    for (var i = 0; i < data.length; i++) {
                        var label = data[i].label_des;
                        var score = data[i].score.toFixed(2);
                        result += "<li>" + label + ": " + score + "</li>";
                    }
                    result += "</ul>";
                    $("#result").html(result);
                },
                error: function () {
                    $("#result").html("<strong>Network connection timeout!</strong>");
                }
            });
        }
    </script>
</head>
<body>
<h1>Text Classification</h1>
<textarea id="text_message"></textarea><br>
<button onclick="submit()">Submit</button>
<div id="result"></div>
</body>
</html>